.form-control{
    max-width: 200px;
}
.option{
    max-height: 50px;
    display: inline;
}
img{
    width: 50px;
    height: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
}
h6{
    width: 100px;
    padding-top: 15px;
    padding-left: 10px;
    max-height: 50px;
    margin: 0;
    text-overflow: ellipsis;
    float: right;
    
}

.form-control:focus{
    color: white;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.75) !important;
    border-color: rgba(225, 225, 225, 0);
    background: rgba(0, 0, 0, 0);

}

input{
    background: rgba(0, 0, 0, 0);
    color: rgba(255,255,255,0.6);
}
